<% layout('/layout/boilerplate') %>

    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h2 class="mb-3"><b> Create a New Listing</b></h2>
            <form method="post" action="/listings">
                <div class="mb-3">
                    <label for="title" class="form-label">Enter Title:</label>
                    <input type="text" name="listing[title]" placeholder="Enter title" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Enter Description:</label>
                    <textarea name="[description]" placeholder="Enter Description" class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Enter Image URLs:</label>
                    <input type="text" name="listing[image]" placeholder="Enter image URLs" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Enter Price:</label>
                    <input type="number" name="listing[price]" placeholder="Enter Price" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Enter Location:</label>
                    <input type="text" name="listing[location]" placeholder="Enter Location" class="form-control">
                </div>

                <div>
                    <label for="country" class="form-label">Enter Country:</label>
                    <input type="text" name="listing[country]" placeholder="Enter country" class="form-control">
                </div>
                <br>

                <button class="btn btn-dark mb-3 add-btn">Add</button>
            </form>
        </div>
    </div>