<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Listings</title>
</head>
<body>
    <h1>Create new Listings</h1>
    <form method="post" action="/listings">
        <input type="text" name="listing[title]" placeholder="Enter title"> <br><br>
        <textarea name="[description]" placeholder="Enter Description"></textarea> <br><br>
        <input type="text" name="listing[image]" placeholder="Enter image URLs"> <br><br>
        <input type="number" name="listing[price]" placeholder="Enter Price"> <br><br>
        <input type="text" name="listing[location]" placeholder="Enter Location"> <br><br>
        <input type="text" name="listing[country]" placeholder="Enter country"> <br><br>        
        <button>Add</button>
    </form>
</body>
</html>